# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
venv/
env/

# Data files
*.csv
*.parquet
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment & secrets
*.env
.env.*
secrets.json

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Build artifacts
dist/
build/
